.container{
	background-color: white;
	font-family: "Tahoma", Times, serif;
}

.section__top{
	border: 2px solid black;
	background-color: lightblue;
}
.section__aboutme{
	border: 2px solid black;
	background-color: lightblue;
}
.section__projects{
	border: 2px solid black;
	background-color: lightblue;
}
.footer {
	font-size: 24px;
}